# Project-specific version pins
# =============================

[versions]
# Buildout
mr.developer = 1.17
collective.recipe.omelette = 0.10

# Development tools
bpython = 0.9.7.1
pygments = 1.4
Products.DocFinderTab = 1.0.4
Products.PDBDebugMode = 1.3.1
Products.PrintingMailHost = 0.7
z3c.coverage = 1.2.0
jarn.mkrelease = 3.0.9
setuptools-git = 0.4.2
setuptools-hg = 0.2

# ZopeSkel
ZopeSkel = 2.19
Cheetah = 2.2.1
Paste = 1.7.5.1
PasteScript = 1.7.3
PasteDeploy = 1.3.4
